node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
scripts/csvs/export-tokenholders-for-contract-0xd327d36eb6e1f250d191cd62497d08b4aaa843ce.csv
